{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Register.css' %}" />

    <title>RegisterArtist</title>
  </head>
  <body>
    <form padding="30px" class="card" method="post">
      {% csrf_token %}
      <h4>Registrarse como artista</h4>
      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}
      <div id="CardBody">
        <div class="contenedor">
          <div class="campo">
            <label>Nombre: </label>
            <input
              type="text"
              name="Nombre"
              value="{{ Nombre|default:'' }}"
              required
            />
          </div>
          <div class="campo">
            <label>Apellido:</label>
            <input
              type="text"
              name="Apellido"
              value="{{ Apellido|default:'' }}"
              required
            />
          </div>
        </div>
        <div class="campo">
          <label>Correo</label>
          <input
            type="email"
            name="correo"
            value="{{ correo|default:'' }}"
            required
          />
        </div>
        <div class="campo">
          <label>Contraseña</label>
          <input type="password" name="contrasenia" required />
        </div>
        <div class="campo">
          <label>Repita la contraseña</label>
          <input type="password" name="confirmar_contrasenia" required />
        </div>
        <div class="contenedor">
          <div class="campo">
            <label>Fecha de nacimiento: </label>
            <input
              type="date"
              name="fechadenacimiento"
              value="{{ fechadenacimiento|default:'' }}"
              required
            />
          </div>
          <div class="campo">
            <label>Genero:</label>
            <select id="Genero" name="Genero">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>
        <div class="campo">
          <label>Pais: </label>
          <input
            list="paises"
            placeholder="Escribe un país..."
            name="PaisDeOrigen"
          />
          <datalist id="paises">
            <option value="Argentina"></option>
            <option value="Bolivia"></option>
            <option value="Brasil"></option>
            <option value="Chile"></option>
            <option value="Colombia"></option>
            <option value="Costa Rica"></option>
            <option value="Cuba"></option>
            <option value="Ecuador"></option>
            <option value="El Salvador"></option>
            <option value="Guatemala"></option>
            <option value="Haití"></option>
            <option value="Honduras"></option>
            <option value="Jamaica"></option>
            <option value="México"></option>
            <option value="Nicaragua"></option>
            <option value="Panamá"></option>
            <option value="Paraguay"></option>
            <option value="Perú"></option>
            <option value="República Dominicana"></option>
            <option value="Trinidad y Tobago"></option>
            <option value="Uruguay"></option>
            <option value="Venezuela"></option>
            <option value="Canadá"></option>
            <option value="Estados Unidos"></option>
            <option value="Belice"></option>
            <option value="Barbados"></option>
            <option value="Bahamas"></option>
            <option value="Guyana"></option>
            <option value="Surinam"></option>
          </datalist>
        </div>
        <div class="campo">
          <label>Nombre Artistico</label>
          <input type="text" name="NombreArtistico" required />
        </div>
        <div class="campo">
          <label>Discografica</label>
          <select name="Discografica">
            <option>Universal Music Group</option>
            <option>Sony Music Entertainment</option>
            <option>Warner Music Group</option>
          </select>
        </div>
        <div class="campo">
          <label>Biografia</label>
          <textarea id="biografia" name="Biografia" required></textarea>
        </div>
        <div class="campo">
          <label>Géneros musicales</label>
          <select id="genero-select">
            <option value="">Selecciona un género</option>
            <option>Alternative rock</option>
            <option>Pop</option>
            <option>Jazz</option>
            <option>Trap latino</option>
            <option>Reggaetón</option>
            <option>Soul</option>
            <option>Electrónica</option>
            <option>Metal</option>
            <option>Dance pop</option>
            <option>House</option>
          </select>
          <div padding="10" id="tags-container"></div>
          <p><span id="count">0</span> géneros seleccionados</p>
          <input type="hidden" name="generos" id="generos-hidden" />
          <button type="submit">Registrarse</button>
        </div>
      </div>
    </form>
    <script src="{% static 'JS/generos.js' %}"></script>
  </body>
</html>
