[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0.4"
mssql-django = "==1.7"
pyodbc = "==5.3.0"
python-decouple = "==3.8"

[requires]
python_version = "3.14"